/* =====================================
   Grid Layout
======================================== */

.gallery {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    background: #fff;
    margin: 45px auto;
    padding-left: .85em;
